
.DS_Store
.eprj
.sass-cache
.idea
.redcar
.repl_history
#*#
*~
*.sw[po]

nbproject
build
tags
Gemfile.lock
vendor
/Provisioning/
resources/yaml/environment.yaml

resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/fontawesome-webfont.ttf
resources/images/*.png
